@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Kumbh Sans", sans-serif;
  margin: auto;
}
.logo img,
.cart-icon img,
.profile img {
  max-width: 100%;
  cursor: pointer;
}

header {
  padding: 1.5rem 0 5rem;
  width: 80%;
  margin: auto;
}
.header-content,
.header-right,
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  padding: 0 1rem;
}
nav a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: hsl(220, 14%, 75%);
}
nav a:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.cart-icon img {
  padding: 0 1rem;
}
.profile img {
  width: 40%;
  object-fit: contain;
}
.profile:hover .avatar {
  outline: 1px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

hr {
  margin: 1rem 0;
}
.cartBtn {
  position: relative;
  background-color: inherit;
  border: none;
}
.cart-num {
  position: absolute;
  top: 4%;
  right: 17.5%;
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
}
.cart-item {
  position: absolute;
  border: 0.2rem solid hsl(25, 100%, 94%);
  background-color: hsl(25, 100%, 94%);
  width: 20%;
  top: 10%;
  left: 63%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: none;
}
.cart-item .active {
  display: block;
}

.cart-item h3 {
  text-align: center;
  font-size: 1.5rem;
}
.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.cart-image {
  max-width: 80%;
  border-radius: 0.5rem;
}

.remove {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.remove-img {
  max-width: 200%;
}
.checkout {
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}
.item-info {
  display: flex;
  flex-direction: column;
}
.price-calc {
  display: flex;
}
.item-info > span {
  font-size: 0.8rem;
}
.item-title,
.item-price,
.itemQuantity {
  color: hsl(220, 14%, 75%);
}

.total,
.price-calc {
  font-size: 1rem;
  font-weight: bolder;
}
.empty-cart {
  font-size: 1rem;
  color: hsl(26, 100%, 55%);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
  gap: 1rem;
  width: 80%;
  margin: auto;
}

.product img {
  max-width: 70%;
  border-radius: 0.5rem;
}

.thumbnail {
  width: 17%;
  height: 18%;
}
.price-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 25px;
}
.price {
  font-weight: bolder;
  font-size: 1.5rem;
}
.discount {
  color: hsl(26, 100%, 55%);
  font-size: 0.8rem;
  background-color: hsl(25, 100%, 94%);
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.2rem;
}
.original-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  opacity: 0.5;
  line-height: 50px;
}
.addToCart-section {
  display: flex;
  gap: 1.5rem;
}
.addToCart-section .item-quantity {
  background-color: hsl(223, 64%, 98%);
  padding: 0.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.minus {
  transform: translateY(-3px);
}
.item-quantity button {
  outline: none;
  border: none;
  background-color: inherit;
}
.addToCart-btn {
  background-color: hsl(26, 100%, 55%);
  border: 1px solid hsl(26, 100%, 55%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 200%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.description {
  padding-top: 4rem;
}
.description h3 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: hsl(26, 100%, 55%);
  padding: 1rem 0;
}
.description h2 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-weight: 700px;
}
.description P {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(220, 14%, 75%);
  padding: 1.5rem 0 1rem;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

/*Modal styling**/

.modal-container {
  position: absolute;
  width: 100%;
  background-color: hsla(0, 0%, 0%,0.8);
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.slideshow-container {
  position: relative;
}
.modal-sneaker {
  display: none;
}
.container,
.thumbnail-container {
  display: flex;
}

.modal-sneaker > img {
  max-width: 100%;
  height: 70vh;
  border-radius: 1rem;
}

.thumbnail-container {
  width: 35%;
}

.sneaker-thumbnail {
  width: 100%;
  padding: 0.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.active,
.sneaker-thumbnail:hover {
  border: 0.2rem solid hsl(26, 100%, 55%);
  border-radius: 1rem;
  opacity: 0.8;
}

.arrow-container > button {
  background-color: inherit;
  border: 0.1rem solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  background-color: white;
  position: absolute;
  top: 40%;
  cursor: pointer;
}
.next {
  right: 0;
}
.close-modal {
  background-color: inherit;
  margin:  0.5rem 20rem;
  align-self: flex-end;
  
}
.close-modal:hover {
  color: hsl(26, 100%, 55%);
  cursor: pointer;
}
.close-modal img {
  width: 150%;
  
}
.fade {
  animation-name: fade;
  animation-duration: 0.4s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
